services:
  pokedex_mysql:
    container_name: 'pokedex_mysql'
    image: 'mysql:latest'
    ports:
      - "0.0.0.0:3306:3306/tcp"
    networks:
      - pokenet
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
      interval: 10s
    environment:
      MYSQL_DATABASE: pokedex
      MYSQL_ROOT_PASSWORD: pokedex

  pokedex_backend:
    container_name: pokedex_backend
    image: pokedex-backend
    build:
      context: .
      dockerfile: ./Dockerfile
    depends_on:
      pokedex_mysql:
        condition: service_healthy
    ports:
      - "0.0.0.0:3000:3000/tcp"
    networks:
      - pokenet
    volumes:
      - ./tmp:/srv/tmp
      - ./src:/srv/src
      - ./public:/srv/public
      - ./views:/srv/views
      - ./server.js:/srv/server.js
      - ./.env:/srv/.env
      - ./.sequelizerc:/srv/.sequelizerc
      - ./package-lock.json:/srv/package-lock.json
      - ./package.json:/srv/package.json

networks:
  pokenet:
    driver: bridge
    name: pokenet